<div class="card px-2 py-2 my-2">
    <div class="card-body">
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.content.slice(0,200) }}</p>
        <button @click="getOnePost(blog._id)" class="btn btn-primary">Read more</button>
        <button @click="deleteOnePost(blog._id,index)" class="btn btn-danger">Delete</button>
        <button @click="updatePost(blog._id)" class="btn text-white" style="background-color:darkorange">Update</button>
    </div>
</div>