<div class="card px-2 py-2 mx-2 my-2">
    <div class="card-body">
        <button @click="blogValue=true" class="align-text-right btn btn-success">Back</button>
        <div class="justify-content-start">
        <h2>{{ blogPost.title }}</h2>
        <p>{{ blogPost.content }}</p>
    </div>
    </div>
</div>