<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <%- include('./partials/comm_css') %>
    </head>
    <body>

        <div class="container">
            Hello world
        </div>

        <%- include('./partials/comm_js') %>
    </body>
</html>